body {
    background-color: #7895B2;
}

.add-btn {
    background-color: #AEBDCA !important;
    color: black !important;
}

li {
    background-color: #AEBDCA;
}

.card-custom {
    border-radius: 100px !important;
}

.timer-part {
    font-size: 50px;
    font-weight: bold;
}